<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
        http://mybatis.org/schema/mybatis-spring
        http://mybatis.org/schema/mybatis-spring.xsd">


    <!--开启bean扫描 -->
   <context:component-scan base-package="com.wxy"/>


    <!-- 声明数据源DataSourcecom.alibaba.druid.pool.DruidDataSource -->
    <bean id="myDataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="url" value="jdbc:mysql://localhost:3306/hospital?useUnicode=true&amp; characterEncoding=utf-8"/>
        <property name="username" value="root"/>
        <property name="password" value="0512"/>
    </bean>

    <!-- mp提供的：com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean -->
    <bean id="sqlSessionFactoryBean" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="dataSource" ref="myDataSource"/>
        <!-- 别名处理 -->
<!--        <property name="typeAliasesPackage" value="com.wxy.entity"></property>-->
        <!-- 注入全局策略配置 -->
        <property name="globalConfig" ref="globalConfig"/>
        <property name="mapperLocations">
            <array>
                <value>classpath:mapper/*Mapper.xml</value>
            </array>
        </property>
        <property name="plugins">
            <array>
                <!-- 配置分页插件 -->
                <bean class="com.baomidou.mybatisplus.extension.plugins.MybatisPlusInterceptor"></bean>
            </array>
        </property>
    </bean>

    <!-- 配置MP的全局策略配置 -->
    <bean id="globalConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig">
        <property name="dbConfig" ref="dbConfig"/>
    </bean>
    <bean id="dbConfig" class="com.baomidou.mybatisplus.core.config.GlobalConfig.DbConfig">
        <property name="idType" value="AUTO"></property>
    </bean>
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.wxy.mapper"/>
    </bean>


</beans>