<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.wxy.entity.Room">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
            <result property="roomName" column="room_name" jdbcType="VARCHAR"/>
            <result property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
            <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
            <result property="updatedTime" column="updated_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,department_id,room_name,
        room_number,created_time,updated_time
    </sql>
</mapper>
