<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.mapper.RoomMapper">

    <resultMap id="BaseResultMap" type="com.wxy.entity.Room">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="roomNumber" column="room_number" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,room_number
    </sql>
</mapper>
