<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wxy.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.wxy.entity.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="account" column="account" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="phoneNumber" column="phone_number" jdbcType="VARCHAR"/>
            <result property="idCardNumber" column="id_card_number" jdbcType="VARCHAR"/>
            <result property="departmentId" column="department_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,account,
        password,phone_number,id_card_number,
        department_id
    </sql>
    <select id="findByAccountAndPassword" resultType="com.wxy.entity.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where
        account = #{account,jdbcType=VARCHAR}
        AND password = #{password,jdbcType=VARCHAR}
    </select>

</mapper>
